<div class="container">

<h1>My wishlist</h1>
  <div>
    <ul>
    <% @wants.each do |want| %>

      <li> name: <%= want.name %> </li>

      </div>
    <% end %>
    </ul>
  </div>

  <div>
      <%= link_to "Add card", new_want_path, class: 'btn btn-secondary' %>
  </div>
</div>




