<div class="message <%= message.from?(current.user) ? "right" : ""  %>">
  <!-- <%=  image_tag message.user.avatar_url, class: "avatar" %> -->
  <div class= "message-content"><%= message.content %></div>
</div>
