<div class="container">

<% if current_user == @user %>
  <span>Total collection : <%= @cards.length %></span><br>
  <span>Total WantList : <%= @wants.length %></span><br>
  <span>Nombre de trades en cours</span><br>
  <span>Nombre de trades réalisés en cours</span><br>

<% else %>
    <div class="row justify-content-between">
      <div class="col-5">
        <h2>MY COLLECTION</h2>
        <% @cards.each do |card| %>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2><%= card.name %></h2>
          </div>
        </div>
        <% end  %>
      </div>

      <div class="col-2">
        <div class="btn btn-warning">Propose to trade</div>
      </div>

      <div class="col-5">
        <h2>ITS COLLECTION</h2>
        <% @othercards.each do |card| %>
        <div class="card-product selected">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2><%= card.name %></h2>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  <% end %>

</div>




