<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<label for="name">Name (4 to 8 characters):</label>

<input type="text" id="name" name="name" required
       minlength="4" maxlength="8" size="10">
