
<div class= "landing-title">CARD TRADE</div>
<div class="landing-motto">Echange tes cartes avec ta voisine</div>



<div class="col-sm-8 col-sm-offset-2 main">
      <div class="landing-description">
        <i class="fas fa-long-arrow-alt-right"></i>Ajoute tes cartes a la liste
        <i class="fas fa-long-arrow-alt-right"></i>Ajoute les cartes que tu recherches
        <i class="fas fa-long-arrow-alt-right"></i>Si résultat avec un autre utilisateur
        <i class="fas fa-long-arrow-alt-right"></i>Commence ton trade
      </div>
</div>
