
    <div class="container">

    <%= simple_form_for [current_user, @card] do |f| %>
      <%= f.input :name, input_html: { class: 'search' } %>
      <div class="nextForm"></div>
    <% end %>


<!--     <form class="search-form">
    <input type="text" class="search" placeholder="City or State">
    <ul class="suggestions">
      <li>Filter for a city</li>
      <li>or a state</li>
    </ul>
    </form>-->
    <ul class="suggestions">
      <li>Filter for a city</li>
      <li>or a state</li>
    </ul>

  </div>

<script>
  //Importation de la variable de ruby. raw permet d'éviter le soucis d'importation qui rajoute &quote à chaque entrée de l'array
 const uniqsName = <%= raw @uniqsName %>;
 const cards =  <%= raw @cards %>;

 let extensions = [];
// const cities = [];
// fetch(endpoint)
//   .then(blob => blob.json())
//   .then(data => cities.push(...data));

function findMatches(wordToMatch, uniqsName) {
  return uniqsName.filter(card => {
    const regex = new RegExp(wordToMatch, 'gi');
    return card.match(regex);
  });
}

function complete(name) {
  document.querySelector('.search').value = name;
  suggestions.innerHTML = "";
  let carte = name;
  cards.map ( (card) => {
  if (card[0] === carte)
    extensions.push(card[1]);
  });
  wholeForm();
}

const wholeForm = () => {
  const form =[`<option value=''>--Please choose an extension--</option>`];
  extensions.map( (extension) => {
    form.push(`<option value='${extension}'>${extension}</option>`);
  });
  nextForm.innerHTML = (`<div class="form-group string optional card_extension">
    <label class="string optional" for="card_extension">Extension :</label>
    <select class="form-control string optional" name="card[extension]" id="card_extension">
      ${form}
    </select>
    <div class="form-group string optional card_foil">
      <label class="string optional" for="card_foil">Foil ? :</label>
      <select class="form-control string optional" name="card[foil]" id="card_foil">
        <option value='Yes'>Yes</option>
        <option value='No'>No</option>
      </select>
    </div>
    <div class="form-group string optional card_quantity">
      <label class="string optional" for="card_quantity">Quantity :</label>
      <select class="form-control string optional" name="card[quantity]" id="card_quantity">
        <option value='1'>1</option>
        <option value='2'>2</option>
        <option value='3'>3</option>
      </select>
    </div>
    <div class="form-group string optional card_condition">
      <label class="string optional" for="card_condition">Condition :</label>
      <select class="form-control string optional" name="card[condition]" id="card_condition">
        <option value='Mint'>Mint</option>
        <option value='Near Mint'>Near Mint</option>
        <option value='Excellent'>Excellent</option>
        <option value='Good'>Good</option>
        <option value='Light Played'>Light Played</option>
        <option value='played'>played</option>
        <option value='Poor'>Poor</option>
      </select>
    </div>
    <div class="form-group string optional card_language">
      <label class="string optional" for="card_language">Langage :</label>
       <select class="form-control string optional" name="card[language]" id="card_language">
        <option value='Anglais'>Anglais</option>
        <option value='Français'>Français</option>
        <option value='Allemand'>Allemand</option>
        <option value='Italien'>Italien</option>
        <option value='Chinois - S'>Chinois - S</option>
        <option value='Japonais'>Japonais</option>
        <option value='Portugais'>Portugais</option>
        <option value='Russe'>Russe</option>
        <option value='Corréen'>Corréen</option>
        <option value='Chinois - T'>Chinois - T</option>
      </select>
    </div>
    <input type="submit" name="commit" value="Create Card" data-disable-with="Create Card">`);
}

function displayMatches() {
  if (this.value.length > 1) {
    const matchArray = findMatches(this.value, uniqsName);
    const html = matchArray.map(card => {
      // const regex = new RegExp(this.value, 'gi');
      // const Name = card.replace(regex, `<span class="hl" >${this.value}</span>`);
      return `
        <li>
          <span class="name" onclick="complete('${card}')" >${card}</span>
        </li>
      `;
    }).join('');
    suggestions.innerHTML = html;
  }
}

const searchInput = document.querySelector('.search');
const suggestions = document.querySelector('.suggestions');
const nextForm = document.querySelector('.nextForm');


searchInput.addEventListener('change', displayMatches);
searchInput.addEventListener('keyup', displayMatches);


</script>
