.chat-header {
  background-color: purple;
  color: white;
  padding: 20px;

}


.messages {
  font-size: 14px;
  color: black;
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  border-top: none;

  overflow: scroll;
  max-height: calc(100vh - 70px - 45px -61px - 30px);
}

.message {
  display: flex;
  margin-bottom: 10px;
  &.right {
    flex-direction: row-reverse;
    .message-content {
      background-color: black;
    }
  }
}

.message-content {
  background-color: orange;
  border-radius: 3px;
  margin: 0 10px;
  padding: 11px 10px 8px 10px;

}

#create-message {
  background-color: white;
  color: black;
  padding: 20px;
}
